.container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100vh;
    justify-content: space-between;
}

p {
    text-align: center;
    font-size: 1.25rem;
}

footer {
    margin-bottom: 3rem;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}